.livro{
    max-width: 1240px;
    
    margin: auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    

}

.logout{

    font-family: 'heebo' sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    margin-top: 7px;

}

.circulo{
    width: 32px;
    height: 32px;
    border: 1px solid #333333bb;
    border-radius: 16px;
    padding: 5px;
    cursor: pointer;
    margin-left: 16px;
}

.titleLivraria{
    width: 167px;
    height: 40px;
    font-family: 'Heebo' sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    margin-left: 12px;
}

.card{
    width:280px;
    height: 160px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 6px 24px rgba(84, 16, 95, 0.13);
    display: flex;
    margin-right:20px;
    margin-top: 20px;
    cursor: pointer;
}

.imgLivro{
   max-width: 81px;
    height: 122px;
    margin-top: 19px;
    margin-left: 16px;
}

.nome{
    font-family: 'heebo' sans-serif;
    font-size: 14px;
    color:#333333;
    font-weight: 500;
    margin-top: 16px;
    margin-left: 16px;

}

.blue{
    color: #2E63F7;
    font-size: 12px;
    font-weight: 400;
    margin-left: 16px;
    margin-top: 3px;

}

.detalhes{
    display: flex;
    flex-direction: column;
}

.editora{
    width: 104px;
    font-size: 12px;
    margin-left: 14px;
    color: #999999;
    margin-top: 25px;
    
}

.publisher{
   padding: 5px;
}

.livrosLivraria{
    display: flex;
    flex-wrap: wrap;
    margin-top: 37px;
    
    
}

.livro{
    
   

}

body{

    background-color: #E0E6EE;

}

@media  (max-width:600px) {
    .livrosLivraria{
        margin-left: 20px;
    }
}
